<a href="https://colab.research.google.com/github/ijhnosalt/Linear-Algebra_ChE_2nd-Sem-2021-2022/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

In [ ]:
x = 1
i,j = 2, 13

In [ ]:
type(x)

int

In [ ]:
y = 1.0
type(y)

In [ ]:
x = float(x)
type(x)

In [ ]:
s,t,u = "0", '1', 'one'
type(s)

In [ ]:
s_int = int(s)
s_int

0

##Operations

###Arithmetic

In [ ]:
a,b,c,d = 5.0,-3.5, 8, -32

In [ ]:
#Addition
S = a+b
S

In [ ]:
###Subtraction
D = b-d
D

In [ ]:
###Multiplication
P = a*d
P

-160.0

In [ ]:
###Division 
Q = c/a
Q

In [ ]:
###Floor Division
Fq = a//b
Fq

In [ ]:
###Exponentiation
E = a**b
E

0.0035777087639996636

In [ ]:
###Modulo
mod = d%a
mod

###Assignment Operations

In [ ]:
G,H,J,K = 0, 100, 2, 2

In [ ]:
G += a
G

In [ ]:
H -= d 
H

In [ ]:
J *= 2
J

In [ ]:
K **= 3 
K

###Comparators

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1" 
true_val = 1.0

In [ ]:
## Equality
res_1 == true_val

In [ ]:
## Non-Equality
res_2 != true_val

In [ ]:
## Inequality
t1 = res_1 > res_2 
t2 = res_1 < res_2/2 
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2

## Logical

In [ ]:
res_1 == true_val

In [ ]:
res_1 is true_val

In [ ]:
res_1 is not true_val

In [ ]:
p, q = True, False 
conj = p and q 
conj

In [ ]:
p, q = True, False
disj = p or q 
disj

In [ ]:
p, q = True, False 
nand = not (p and q) 
nand

In [ ]:
p, q = True, False 
xor = (not p and q) or (p and not q) 
xor

## I/O

In [ ]:
print("Hello World")

In [ ]:
cnt = 1

In [ ]:
string = "Hello World" 
print(string, ", Current run count is:", cnt) 
cnt+= 1

In [ ]:
print(f"{string}, Current count is: {cnt}")

In [ ]:
sem_grade = 90
name = "ijhnosalt" 
print("Hello {}, your semestral grade is: {}". format (name, sem_grade))

Hello ijhnosalt, your semestral grade is: 90

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4 
print("The weights of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.". format(w_pg, w_mg, w_fg))

In [ ]:
x = input ("enter a number: ")
x

In [ ]:
name = input("Kimi no nawa: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter final grade: ")
sem_grade = None 
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

#Looping Statements

##While

In [ ]:
##While loops 
i, j = 0, 10
while(i<=j):
    print(f"{i}\t|\t{j}")
    i+=1

##For

In [ ]:
# for(int i=0; i<10; i++){
# printf(i)
# }

i=0
for i in range(10):
    print(i)

In [ ]:
playlist = ["Shake it off", "Blank space", "I did something bad"]
print('Now Playing:\n')
for song in playlist:
    print(song)

#Flow Control

##Condition Statements

In [ ]:
numeral1, numeral2 = 12, 11
if(numeral1 == numeral2):
    print("Yey")
elif(numeral1>numeral2):
    print("Hoho")
else:
    print("Aww")

Hoho

#Functions

In [ ]:
# void DeleteUser(int userid){
#     delete(userid);
#}

def delete_user (userid):
    print("Successfully deleted user: {}".format(userid))
  
def delete_all_users ():
    print("Successfully deleted all users")

In [ ]:
userid = 202012192
delete_user(202012192)
delete_all_users()

Successfully deleted user: 202012192
Successfully deleted all users

In [ ]:
def add(addend1, addend2):
    print("yehey")
    return addend1 + addend2

def power_of_base2(exponent):
    return 2**exponent
  
addend1 = 5
addend2 = 10

exponent = 5

#add(addend1, addend2)
power_of_base2(exponent)

32

In [ ]:
add(addend1, addend2)

yehey

15

## Lambda Functions

In [ ]:
x = 4

#Calculator

In [11]:
print()
name = input('\tName: ');
course = input('\tCourse: ');
prelim = float(input('\tPrelim grade: '));
midterm = float(input('\tMidterm grade: '));
final = float(input('\tFinal grade: '));
sem_grade = (prelim*0.30) + (midterm*.30) + (final*.40);

sem_grade = "{:.2f}".format(sem_grade)
print();
print("\tResult");
print();
print("\t",name, ", a", course, "student");
if float(sem_grade) > 70.00:
  print("\tYour grade is", sem_grade, "\U0001F600");
elif float(sem_grade) == 70:
  print("\tYour grade is", sem_grade, "\U0001F606");
elif float(sem_grade) < 70:
  print("\tYour grade is", sem_grade, "\U0001F62D")
  print();

	Name: Princess
	Course: Chemical Engineering
	Prelim grade: 100
	Midterm grade: 100
	Final grade: 100

	Result

	 Princess , a Chemical Engineering student
	Your grade is 100.00 ðŸ˜€